.custom-search {
  border: 2px solid $black;
  border-radius: 25px;
}

.custom-search input[type="search"] {
  border: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
}

.productoss {
  margin-top: 5%;

  .card {
    margin-bottom: 10%;
    border: solid;
    &:hover {
      transform: scale(1.1);
    }
    .btn {
      background-color: $secondaryColor;
    }
  }
}

.page-link {
  color: $black;
}
