.search-base {
  border: 2px solid $black;
  border-radius: 25px;
}

.custom-search {
  @extend .search-base;
}

.custom-search input[type="search"] {
  border: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
}

.card-base {
  margin-bottom: 10%;
  border: solid;
  &:hover {
    transform: scale(1.1);
  }

  .btn {
    background-color: $secondaryColor;
  }
}

.productoss {
  margin-top: 5%;
  .card {
    @extend .card-base;
  }
}

.page-link {
  color: $black;
}
